body {
  background-color: #ffffc2;
}

article {
  background-color: rgba(134,251,188, 0.5);
}

p {
  color: orange;
}

header {
  background-color: hsla(21, 99%, 79%, 0.6);
}

header img {
  width: 10rem;
  padding: 2rem;
  margin: 3rem;
  border: 1px black solid;
  box-sizing: border-box;
}

img:hover {
  border: 2px magenta solid;
}

aside p {
  color: black;
}

h3 {
  font-size: 200%;
}

 /*Pseudo-elements!*/
p::first-letter {
  font-size: 200%;
  color: black;
}
